#candleStick{width:100%;height:250px;position:fixed;overflow-x:auto;margin: 0px 0px 0px 0px;left:0px;top:0px;}
#candleStickYaxis{width:35px;height:250px;position:fixed;float:left;}
body{-webkit-touch-callout:none;-webkit-user-select:none;width:100%;height:100%;-khtml-user-select:none;-moz-user-select:none;-ms-user-select: none;user-select: none;}
#crosssvg{width:20px;height:20px;stroke: cyan;position:absolute;left:80}
#crossSign{width:64px; height:64px;background-color:deepskyblue;}